//- Template
meta(property='rp:app:name' content=app.name)
meta(property='rp:app:description' content=app.description)
meta(property='rp:sentry:project' content=SENTRY_PROJECT)
meta(property='rp:sentry:dsn' content=SENTRY_DSN)
meta(property='rp:sentry:env' content=SENTRY_ENVIRONMENT)
meta(property='rp:contact:email' content=CONTACT_EMAIL)
meta(property='rp:social:github:url' content=SOCIAL_GITHUB_URL)
meta(property='rp:social:stackoverflow:url' content=SOCIAL_STACKOVERFLOW_URL)
meta(property='rp:social:twitter:id' content=SOCIAL_TWITTER_ID)
meta(property='rp:social:twitter:url' content=SOCIAL_TWITTER_URL)
meta(property='rp:style:key' content=CSP_STYLE_NONCE)
each val, key in (metadata || {})
	meta(property=key content=val)
